$color-white: #FFFFFF;
$color-red: #D88383;
$color-grey: #DCE0E0;
$color-dark-overlay: rgba(0, 0, 0, .3);
$color-text: #303030;

$gradient-dark-overlay: linear-gradient(180deg, rgba(37, 50, 72, 0.14) 0%, #2D3144 100%);
