.nav {
  border-bottom: 1px solid $color-grey;
  background: $color-white;

  &-inner__logo {
    display: inline-block;

    h1 {
      @include rem(padding, 20px 40px 20px 20px);
      @include rem(font-size, 18px);
      font-weight: 600;
    }
  }

  &-inner__search {
    display: inline-block;
    border-left: 1px solid $color-grey;

    &-input {
      @include rem(padding, 20px);
      border: 0;
    }

    &-submit {
      @include rem(padding, 14px 10px);
      @include rem(font-size, 18px);
      border: 0;
      background: transparent;
    }
  }

  .submit-a-bar {
    display: inline-block;
    float: right;
  }
}
